@import "tailwindcss";

@font-face{
    font-family: 'playfair';
    src: url('./assets/mainFonts/PlayfairDisplay-Regular.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}
@font-face{
  font-family: 'playfairBold';
  src: url('./assets/mainFonts/PlayfairDisplay-Bold.woff2') format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;

}
@font-face{
  font-family: 'libre';
  src: url('./assets/mainFonts/LibreBodoni-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}
@font-face{
  font-family: 'libreItalic';
  src: url('./assets/mainFonts/LibreBodoni-Italic.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'cinzel';
  src: url('./assets/mainFonts/Cinzel-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}
@font-face{
  font-family: 'cinzelBold';
  src: url('./assets/mainFonts/Cinzel-Bold.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face{
  font-family: 'italiana';
  src: url('./assets/mainFonts/Italiana-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}
@font-face{
  font-family: 'raleway';
  src: url('./assets/mainFonts/Raleway-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face{
  font-family: 'quickSand';
  src: url('./assets/mainFonts/Quicksand/static/Quicksand-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}
@font-face{
  font-family: 'vibes';
  src: url('./assets/mainFonts/GreatVibes-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}




@theme {
	

    --color-background: #F4F1E7;
    --color-primary: #2A6F6F;
    --color-secondary: #8C6E63;
 
    --color-accent: #D9CEB2;
    --color-textDark: #333333;
    --color-textLight: #FFFFFF;

/*  --color-green: #989858;
  --color-maron: #ead4bd;
  --color-brown:#a3bed9;
  --color-mainGreen: #BFFF71;*/


  /*FONTS*/

  --font-playfair : 'playfair','sans-serif';
  --font-playfairBold : 'playfairBold','sans-serif';

  --font-libre : 'libre','sans-serif';
  --font-libreItalic : 'libreItalic','sans-serif';
  --font-vibes : 'vibes','sans-serif';

  --font-quickSand : 'quickSand','sans-serif';
  --font-italiana : 'italiana','sans-serif';
  --font-raleway : 'raleway','sans-serif';
  
  --font-cinzel : 'cinzel','sans-serif';
  --font-cinzelBold : 'cinzelBold','sans-serif';

  

}
@keyframes marquee {
  0% {transform:translateX(0%);}
  100% {transform: translateX(-50%);}
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #F4F1E7;
}

/* hide scrollbar on mobile */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
